.navbar {
	background-color: #920C05;
	min-height: 100px;
}

.navbar-brand .navbar-item {
	color: #fff;
}

.navbar-brand > img {
	width : 60px;
	height: 60px;
	margin: auto 0 auto 15px;
}

.navbar-burger:hover {
	background-color: #dbdbdb;
}

.navbar-brand .navbar-item:hover {
	cursor: default;
}

.navbar-brand p {
	font-family: 'Lato', 'Open Sans', sans-serif;
}

.logo {
	font-family:sans-serif;
	font-size:30px;
}

#dropdown {
	display: list-item !important;
}

.menu {
	padding: 0 10px 10px 10px;
	background-color: #F8F8F8;
	position: fixed;
}

.menu-label {
	color: #B00000;
	font-size: 16px;
	font-weight: 800;
	margin: 5px 0 5px 0 !important;
}

.menu-list > li > a:hover {
	background-color: #eee;
}

.seperator {
	width: 100%;
	background-color: #920C05;
	height: 3px;
}

footer {
	background-color: #f3f1e9;
	min-height: 100px;
}

.social, .social-icon {
	display: inline;
	width: 60px;
	height: 60px;
	font-size: 31px;
	line-height: 60px;
/*	border: 1px solid;
	border-radius: 100%;
*/}

.twitter: {
	color: #55acee !important;
	background-color: #55acee !important;
	border-color    : #55acee;
}

.facebook: {
	background-color: #3b5998;
	border-color    : #3b5998;
}

@media screen and (max-width: 1023px) {
	.navbar > .container {
    max-width: 850px;
	}
	.navbar > .container > .navbar-brand > img, .navbar > .container > .navbar-brand > p {
		margin-top: 20px;
	}

	.navbar-burger {
		margin-top: 22.5px;
	}
}